use nix

PATH_add /usr/local/opt/llvm/bin

#export LDFLAGS="-L/usr/local/opt/llvm/lib -L/usr/local/opt/llvm/lib/c++ -Wl,-rpath,/usr/local/opt/llvm/lib/c++"
#export CPPFLAGS="-std=c++2b -Weverything -fmodules -I/usr/local/opt/llvm/include -I/usr/local/opt/llvm/include/c++/v1/"
